<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- IIS Specific Targeting (noted by the system.webServer section) -->
  <system.webServer>
    <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\ParsissDjangoBackend\venv\Scripts\python.exe|D:\ParsissDjangoBackend\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="D:\ParsissDjangoBackend\venv\Scripts\python.exe" arguments="D:\ParsissDjangoBackend\manage.py runserver" stdoutLogEnabled="true" stdoutLogFile="D:\ParsissDjangoBackend\log\python.log" startupTimeLimit="60" processesPerApplication="16">
    </httpPlatform>
  </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="D:\ParsissDjangoBackend" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="CRMbackend.settings" />
    </appSettings>
</configuration>